html, body, h1, ul {
  margin: 0;
}

body {
  background-color: black;
}

header {
  transition: all .3s;
}

h1 {
  background-color: purple;
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0 20px;
}

.hidden {
  transform: translateY(-100%);
}

.list {
  list-style-type: none;
  padding: 0;
}

.list__item {
  height: 120px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

